@import 'variables';

.add-flat{
    margin-right: 110px;
}
.sfondo{
   background-color: white;
   border-radius: 10px;
   padding-top: 50px;
   font-family: 'Plus Jakarta Sans', sans-serif;
   box-shadow: 0 0px 10px rgba(255, 255, 255, 0.6);
   padding-left: 50px;
   padding-right: 50px;
}