// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'home';
@import 'header';
@import 'index';
@import 'show';


// Bootstrap
@import '~bootstrap/scss/bootstrap';

// prova per stile
body {
     background-color: #000;
}

#editForm {
     color: white;
     .row {
          margin-top: 10px;
     }
}